.pubg__wrap {display: flex; flex-direction: column; width: 100%;}
.pubg__header {display: flex; flex-direction: column; align-items: center; max-width: 1000px; padding: 100px 0; margin: 0 auto;}
.pubg__title {font-size: 3rem; font-weight: 900; color: #fff;}

.pubg__tab {padding-top: 20px;}
.pubg__tab-list {display: flex;}
.pubg__tab-item {width: 100px; margin-right: 20px; text-align: center;}
.pubg__tab-item:last-child {margin-right: 0;}
.pubg__tab-btn {width: 100%; padding: 10px; font-size: 1rem; font-weight: 900; color: #000; border: none; border-radius: 10px; background-color: #fff200; cursor: pointer;}
.pubg__tab-btn:hover {background-color: #ff3030; border-radius: 10px;}
.pubg__tab-item.active .pubg__tab-btn {background-color: #ff3030; border-radius: 10px;}

.pubg__panel {display: none;}
.pubg__panel.active {display: block;}

.roulette-inner {display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 0 auto;}
.roulette-wrap {display: flex;}
.roulette-window {position: relative; width: 450px; height: 300px; background: url("../../img/sub/battleground/shared/weapons__bg.webp") no-repeat center / contain; overflow: hidden;}
.item-ban {position: relative; display: flex; flex-direction: column; width: 450px; height: 300px; gap: 0; background: url("../../img/sub/battleground/shared/roulette-ban.png") no-repeat center / contain; overflow: hidden;}
.roulette-item {position: relative; display: flex; flex-direction: column; flex-shrink: 0; align-items: center; justify-content: center; width: 100%; height: 300px; padding: 10px; margin: 0; box-sizing: border-box;}
.weapon-img img {display: flex; justify-content: center; width: 100%; height: 100%; object-fit: contain;}
.weapon-name {position: absolute; top: 5px; left: 12px; color: #f2b705; font-size: 1.3rem; font-weight: 700;}
.ban-name {color: #c20000; font-size: 2rem; font-weight: 900;}

.roulette-ban {transition: transform 7s cubic-bezier(.15, .85, .1, 1);}
.item-primary .roulette-list, .item-second .roulette-list {transition: transform 5s cubic-bezier(.15, .85, .1, 1)};

.item-primary, .item-second, .item-ban {position: relative; overflow: hidden;}
.roulette-btn {width: 200px; height: 200px; margin-top: 20px; background: url("../../img/sub/battleground/Big-Red-Button.svg") no-repeat center / cover; border-radius: 15px; cursor: pointer;}
.roulette-btn:active {background: url("../../img/sub/battleground/Big-Red-Button_2.svg") no-repeat center / cover; border-radius: 15px;}

@media (max-width: 1500px) {
    .roulette-window {width: 300px; height: 200px;}
    .roulette-item {width: 300px; height: 200px;}
    .weapon-name {font-size: 1rem;}
}
@media (max-width: 1024px) {
    .roulette-wrap {display: flex; flex-direction: column;}
}
@media (max-width: 480px) {
    .pubg__header {padding: 50px 0;}
    .pubg__title {font-size: 2rem;}
    .pubg__tab-item {width: 90px; margin-right: 10px;}
    .pubg__tab-btn {padding: 5px;}
}
.pubg__kill-roulette__img {display: flex; align-items: center; justify-content: center; width: 100%; margin: 0 auto;}
.pubg__kill-roulette__img img {width: 500px; height: auto; border-radius: 15px;}
@media (max-width: 550px) {
    .pubg__kill-roulette__img img {width: 300px; height: auto; border-radius: 15px;}
}

.bingo__inner {display: flex; flex-direction: column; align-items: center; justify-content: center; width: 1024px; margin: 0 auto;}
.bingo__list {display: flex;}
.bingo__header {padding-bottom: 40px;}
.bingo__tab-item {padding-right: 20px;}
.bingo__tab-item:last-child {padding-right: 0;}
.bingo__item-btn {padding: 5px 10px; font-size: 2rem; color: #000; background-color: #c4f000; border: none; border-radius: 15px; cursor: pointer;}
.bingo__item-btn:hover {background-color: #ff3030;}
.bingo__item-btn.active {background-color: #ff3030;}
.bingo-itme {border: none;}
.size-3 {grid-template-columns: repeat(3, 1fr); width: 200px; height: 200px;}
.size-4 {grid-template-columns: repeat(4, 1fr); width: 300px; height: 300px;}
.size-5 {grid-template-columns: repeat(5, 1fr); width: 400px; height: 400px;}
.bingo-board {display:none;}
.bingo-board.active {display: grid; gap: 3px;}
.bingo-item.is-active {background-color: #c4f000;}
.bingo-rule {padding-top: 50px; color: #fff; font-size: 2rem; font-weight: 900;}
.bingo-item {font-size: 1rem;}

.map-inner {display: flex; flex-direction: column; align-items: center; max-width: 1024px; margin: 0 auto; padding-bottom: 100px;}
.map-header {padding-bottom: 100px;}
.map-list {display: flex; gap: 5px;}
.map-item {width: 70px;}
.map-btn {width: 100%; padding: 5px 10px; font-size: .9rem; font-weight: 900; border: none; background-color: #c4f000; cursor: pointer;}
.map-btn:hover {background-color: #1f91fb;}
.map-btn.active {background-color: #1f91fb;}
.map-main {display: flex; flex-direction: column; align-items: center;}
.map__desc {padding-bottom: 30px; font-size: 1rem; color: #fff;}
.map__img-item {display: none;}
.map__img-item.active {display: block;}