body {position: relative; min-height: 100vh;}
.bg {position: absolute; inset: 0; height: 100%;background-image: linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px), linear-gradient(90deg,rgba(255,255,255,.03) 1px, transparent 1px); background-size: 60px 60px; background-color: #07080c; z-index: -1;}
.header {position: sticky; top: 0; display: flex; padding:  8px 16px; border-bottom: 1px solid #181818; background-color: rgba(7, 8, 12, .9);}
.brand-name {color: #fff;}
.brand-name img {width: 100px;}
.mo-menu {display: none;}
.nav {display: flex; flex: 1; align-items: center; justify-content: center;}
.nav__list {display: flex;}
.nav__item-link {display: flex; align-items: center; padding: 10px; color: #fff; font-weight: 900;}
.nav__item-link-dot {width: 8px; height: 8px; margin-right: 8px; border-radius: 25px; background: var(--accent); animation: pulse 2s infinite;}
.dot__yellow {background-color: #68f92e; --shadow-color: rgba(30, 255, 42, .7);}
.dot__yellow {background-color: #fff200; --shadow-color: rgba(255, 242, 0, .7);}
.dot__red {background-color: #fb3f50; --shadow-color: rgba(255, 0, 0, .7);}

.nav__item:hover {outline: 1px solid var(--accent); border-radius: 5px;}
.nav__item:hover .nav__item-link {color: var(--accent);}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--shadow-color);
    }
    50% {
        box-shadow: 0 0 0 7px transparent;
    }
    100% {
        box-shadow: 0 0 0 0 transparent;
    }
}



@media (max-width: 480px) {
    .logo {display: none;}
}