.main {display: block; width: 100%;}

.sc-hero {display: flex; flex-direction: column; align-items: center; padding: 100px 10px; margin: 0 auto; max-width: 1000px; perspective: 1000px;}
.hero__label {text-align: center; color: #0000; font-size: 3rem; font-weight: 900; background: linear-gradient(135deg, #a78bfa 0%, #38bdf8 60%, #f472b6 100%); background-clip: text;}
.hero__text {padding-top: 30px; font-size: 1.5rem; font-weight: 700; color: #d4c0ff;}
.sc-hero img {width: 300px; padding: 50px 0; animation: spin 10s linear infinite; transform-style: preserve-3d; filter: drop-shadow(0 0 20px rgba(0,0,0,1));}


@keyframes spin {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(180deg);
    }
}








.sc-site {display: flex; align-items: center; justify-content: center; max-width: 1000px; padding: 16px 32px; margin: 0 auto;}
.site__list {display: grid; grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); gap: 16px; width: 100%;}

.site__item {padding: 20px; border: 1px solid #232323; border-radius: 25px;}

.site__link img {width: 100%; padding-bottom: 20px; border-radius: 15px;}
.site__title {padding-bottom: 10px; font-size: 1.5rem; color: var(--accent);}
.site__title-eng {font-size: 1rem; color: #8a8a8a;}
.site__desc {padding: 10px 0 20px; font-size: 0.8rem; color: #fff;}
.site__cta {font-size: 0.7rem; color: var(--accent)}